In [1]:
# Import Dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Date
Base = declarative_base()

In [2]:
measurements_df = pd.read_csv("clean_measurements.csv")
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [3]:
stations_df = pd.read_csv("clean_stations.csv")
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [4]:
# Create Stations class
class Stations(Base):
    __tablename__ = "stations"
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    location = Column(Float)

In [5]:
# Create Measurements class
class Measurements(Base):
    __tablename__ = "measurements"
    id = Column(Integer, primary_key = True)
    station = Column(String(255))
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Float)

In [6]:
# Create Database Connection
engine = create_engine("sqlite:///hawaii.sqlite")
Base.metadata.create_all(engine)

In [7]:
# Add stations data to Database
stations_df.to_sql("stations", engine, if_exists='append', index=False)

In [8]:
# Add measurements data to Database
measurements_df.to_sql("measurements", engine, if_exists='append', index=False)